DATABASE_URL=
SESSION_ID=Prince~Ak5RBT7D#3AmP0cH9BkZJiM48ndXOglom9z5RFd1bGUWj82ecLaM
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
Status_Saver=true
STATUSLIKES=true
REPLY_STATUS=true
antidelete=true
BOT_NAME=Prince
AUTOREAD=false
OWNERS=923092668108;PRINCE
DL_MSG=Downloaded successfully
STATUS_MSG=*Seen Your Status Just Now* 🤌🏻💛
> [By✨*AHMER*👀🖤

`WHASTAPP BOT AVAILBLE`🔥✅

